<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>inicioSesion</servlet-name>
        <servlet-class>packServlets.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>packServlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conexionDB</servlet-name>
        <servlet-class>packDB.conexionDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>packServlets.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdenarProductos</servlet-name>
        <servlet-class>packServlets.OrdenarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdenarProducto</servlet-name>
        <servlet-class>packServlets.OrdenarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Producto</servlet-name>
        <servlet-class>packServlets.Producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdenarPro</servlet-name>
        <servlet-class>packServlets.OrdenarPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProducto</servlet-name>
        <servlet-class>packServlets.EditarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarProducto</servlet-name>
        <servlet-class>packServlets.InsertarProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inicioSesion</servlet-name>
        <url-pattern>/inicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conexionDB</servlet-name>
        <url-pattern>/conexionDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdenarProductos</servlet-name>
        <url-pattern>/OrdenarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdenarProducto</servlet-name>
        <url-pattern>/OrdenarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Producto</servlet-name>
        <url-pattern>/Producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdenarPro</servlet-name>
        <url-pattern>/OrdenarPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProducto</servlet-name>
        <url-pattern>/EditarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarProducto</servlet-name>
        <url-pattern>/InsertarProducto</url-pattern>
    </servlet-mapping>
</web-app>
